<a routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link">Home</a>&nbsp;&nbsp;
<a routerLink="/about" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link">About</a>&nbsp;&nbsp;
<a routerLink="/contact" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link">Contact</a>&nbsp;&nbsp;
<a routerLink="/blog" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link">Blog</a>&nbsp;&nbsp;
<a (click)="logout($event)">Logout</a>&nbsp;&nbsp;