<form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Name -->
    <div class="mb-3">
        <label class="inline-block mb-2" style="margin-left: 20px; margin-right: 20px;">Name</label>
        <app-input [control]="name" placeholder="Enter Name"></app-input>
    </div>
    <!-- Email -->
    <div class="mb-3">
        <label class="inline-block mb-2" style="margin-left: 20px; margin-right: 20px;">Email</label>
        <app-input [control]="email" type="email" placeholder="Enter Email"></app-input>
    </div>
    <!-- Age -->
    <div class="mb-3">
        <label class="inline-block mb-2" style="margin-left: 20px; margin-right: 20px;">Age</label>
        <app-input [control]="age" type="number" placeholder="Enter Age"></app-input>
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label class="inline-block mb-2" style="margin-left: 20px; margin-right: 20px;">Password</label>
        <app-input [control]="password" type="password" placeholder="Enter Password"></app-input>
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
        <label class="inline-block mb-2" style="margin-left: 20px; margin-right: 20px;">Confirm Password</label>
        <app-input [control]="confirmPassword" type="password" placeholder="Confirm Password"></app-input>
    </div>
    <!-- Phone Number -->
    <div class="mb-3">
        <label class="inline-block mb-2" style="margin-left: 20px; margin-right: 20px;">Phone Number</label>
        <app-input [control]="phone" format="0000000000" placeholder="Enter Phone Number"></app-input>
    </div>
    <button class="btn btn-primary" style="margin-left: 20px;" [disabled]="registerForm.invalid || inProcess"> Submit</button>
</form>