<!-- ngIf -->
<!-- <app-ngif></app-ngif> -->

<!-- ngFor -->
<!-- <app-ng-for *ngFor="let img of images; let i = index">
    {{i}}
</app-ng-for> -->

<!-- <div [ngClass]="{hidden: !modal.isModalOpen() }">
    <form>
        <input type="text" />
    </form>
</div> -->

<!-- Memory Leak -->
<!-- <div *ngIf="showModal">Hello</div> -->

<!-- Service -->
<!-- <button (click)="openModal($event)">ABC</button><br>
<button (click)="closeModal()">xyz</button> -->

<!-- Templet Driven Form -->
<!-- <app-driven-form></app-driven-form> -->

<!-- Reactive Form -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- Form Controls -->
<!-- Register -->
<!-- <app-form-control></app-form-control> -->

<!-- Login Form -->
<!-- <app-login></app-login> -->

<!-- RxJS -->
<!-- <app-observables></app-observables> -->

<!-- From Event -->
<!-- <app-from-event></app-from-event> -->

<!-- From -->
<app-from></app-from>

<!-- Of Operator -->
<!-- <app-of-operator></app-of-operator> -->